.brand {
    padding: 40px 0;
}

.contact-section {
    padding: 40px 0;
}

.card {
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%; 
    display: flex; 
    flex-direction: column; 
}

.card-body {
    flex-grow: 1; 
    color: black;
}

.card-img-top {
    width: 100%;
    height: 350px;
    object-fit: cover; 
}

.tour-dates {
    margin-top: 75px;
    background-color: #343a40;
    color: white;
    padding: 50px 0;
    margin-bottom: 75px;
}

.card.september, .card.october, .card.november{
    background-color: #fafafa; 
}

.table td, .table th{
    color:white;
}

td span {
    color: rgba(194, 2, 2, 0.947);
    font-weight: bold;
    font-style: italic;
}

.container {
    margin-top: 50px; 
}
